<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Skills</h1>
            <p style="color: #606060;">Computer Science and Engineering undergraduate degree from University of California Irvine</p>
            <p>View a few of my skills either learned through university classes or on my own!</p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% for (var i = 0; i < skills.length; i++){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= skills[i].image %>">
                    <div class="caption">
                        <h4><%= skills[i].name %></h4>
                    </div>
                    <p>
                        <a href="<%= skills[i].link %>" class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
</div>

<footer class="site-footer">
    <div class="container">
        <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Pictures provided by <a href="https://unsplash.com/">Unsplash</a>.
            </p>
          </div>
    </div>
</footer>
<%- include ("partials/footer") %>