<%- include ("partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to my skills page!</h1>
            <p>View a few of my skills either learned through university classes or on my own!</p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% for (var i = 0; i < skills.length; i++){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= skills[i].image %>">
                    <div class="caption">
                        <h4><%= skills[i].name %></h4>
                    </div>
                    <p>
                        <a href="<%= skills[i].link %>" class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include ("partials/footer") %>