<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<% var temp_num = 0; %>
<% if (maxes.units == "lbs"){ %>
    <% temp = maxes.bench; %>
    <% var benchMax = parseFloat(temp).toFixed(1); %>
    <% var bench = parseFloat(benchMax * 0.9).toFixed(1); %>
    <% temp = maxes.press; %>
    <% var pressMax = parseFloat(temp).toFixed(1); %>
    <% var press = parseFloat(pressMax * 0.9).toFixed(1); %>
    <% temp = maxes.squat; %>
    <% var squatMax = parseFloat(temp).toFixed(1); %>
    <% var squat = parseFloat(squatMax * 0.9).toFixed(1); %>
    <% temp = maxes.deadlift; %>
    <% var deadliftMax = parseFloat(temp).toFixed(1); %>
    <% var deadlift = parseFloat(deadliftMax * 0.9).toFixed(1); %>
<% }else{ %>
    <% temp = maxes.bench * 2.2; %>
    <% var benchMax = parseFloat(temp).toFixed(1); %>
    <% var bench = parseFloat(benchMax * 0.9).toFixed(1); %>
    <% temp = maxes.press * 2.2; %>
    <% var pressMax = parseFloat(temp).toFixed(1); %>
    <% var press = parseFloat(pressMax * 0.9).toFixed(1); %>
    <% temp = maxes.squat * 2.2; %>
    <% var squatMax = parseFloat(temp).toFixed(1); %>
    <% var squat = parseFloat(squatMax * 0.9).toFixed(1); %>
    <% temp = maxes.deadlift * 2.2; %>
    <% var deadliftMax = parseFloat(temp).toFixed(1); %>
    <% var deadlift = parseFloat(deadliftMax * 0.9).toFixed(1); %>
<% } %>
<div class="container">
    <h>Your input maxes in lbs: </h>
    <table class="table">
        <thead>
            <th></th>
            <th>Bench</th>
            <th>Press</th>
            <th>Squat</th>
            <th>Deadlift</th>
        </thead>
        <tbody>
            <tr>
                <td>1 rep max</td>
                <td><%= benchMax %></td>
                <td><%= pressMax %></td>
                <td><%= squatMax %></td>
                <td><%= deadliftMax %></td>
            </tr>
            <tr>
                <td>Training max</td>
                <td><%= bench %></td>
                <td><%= press %></td>
                <td><%= squat %></td>
                <td><%= deadlift %></td>
            </tr>
        </tbody>
    </table>
    <% if (maxes.program == "nSuns"){ %>
        <h>Selected program: <a href="https://thefitness.wiki/routines/nsuns-lp/">nSuns</a></h>
        <table class="table table-bordered">
            <thead>
                <th>Monday</th>
            </thead>
            <tbody>
                <tr>
                    <td>Bench</td>
                    <td><%= parseFloat(bench * 0.65).toFixed(1) %> x6</td>
                    <td><%= parseFloat(bench * 0.75).toFixed(1) %> x7</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x4</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x4</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x4</td>
                    <td><%= parseFloat(bench * 0.80).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.75).toFixed(1) %> x6</td>
                    <td><%= parseFloat(bench * 0.70).toFixed(1) %> x7</td>
                    <td><%= parseFloat(bench * 0.65).toFixed(1) %> x8+</td>
                </tr>
                <tr>
                    <td>Press</td>
                    <td><%= parseFloat(press * 0.50).toFixed(1) %> x6</td>
                    <td><%= parseFloat(press * 0.60).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x3</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x7</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x4</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x6</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x8</td>
                </tr>
                <tr>
                    <td>Assistance</td>
                    <td>Chest, Arms, Back</td>
                </tr>
            </tbody>
            <thead>
                <th>Tuesday</th>
            </thead>
            <tbody>
                <tr>
                    <td>Deadlift</td>
                    <td><%= parseFloat(deadlift * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.95).toFixed(1) %> x1+</td>
                    <td><%= parseFloat(deadlift * 0.90).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.80).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.75).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.65).toFixed(1) %> x3+</td>
                </tr>
                <tr>
                    <td>Front Squat</td>
                    <td><%= parseFloat(squat * 0.35).toFixed(1) %> x6</td>
                    <td><%= parseFloat(squat * 0.45).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x7</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x4</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x6</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x8</td>
                </tr>
                <tr>
                    <td>Assistance</td>
                    <td>Back, Abs</td>
                </tr>
            </tbody>
            <thead>
                <th>Wednesday</th>
            </thead>
            <tbody>
                <tr>
                    <td>Press</td>
                    <td><%= parseFloat(press * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(press * 0.95).toFixed(1) %> x1+</td>
                    <td><%= parseFloat(press * 0.90).toFixed(1) %> x3</td>
                    <td><%= parseFloat(press * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(press * 0.80).toFixed(1) %> x3</td>
                    <td><%= parseFloat(press * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.65).toFixed(1) %> x5+</td>
                </tr>
                <tr>
                    <td>Incline bench</td>
                    <td><%= parseFloat(bench * 0.40).toFixed(1) %> x6</td>
                    <td><%= parseFloat(bench * 0.50).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x3</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x7</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x4</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x6</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x8</td>
                </tr>
                <tr>
                    <td>Assistance</td>
                    <td>Shoulders, Chest</td>
                </tr>
            </tbody>
            <thead>
                <th>Thursday</th>
            </thead>
            <tbody>
                <tr>
                    <td>Squat</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.95).toFixed(1) %> x1+</td>
                    <td><%= parseFloat(squat * 0.90).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.80).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.65).toFixed(1) %> x5+</td>
                </tr>
                <tr>
                    <td>Sumo Deadlift</td>
                    <td><%= parseFloat(deadlift * 0.50).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.60).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x7</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x4</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x6</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x8</td>
                </tr>
                <tr>
                    <td>Assistance</td>
                    <td>Legs, Abs</td>
                </tr>
            </tbody>
            <thead>
                <th>Friday</th>
            </thead>
            <tbody>
                <tr>
                    <td>Bench</td>
                    <td><%= parseFloat(bench * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(bench * 0.95).toFixed(1) %> x1+</td>
                    <td><%= parseFloat(bench * 0.90).toFixed(1) %> x3</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x3</td>
                    <td><%= parseFloat(bench * 0.80).toFixed(1) %> x3</td>
                    <td><%= parseFloat(bench * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.70).toFixed(1) %> x3</td>
                    <td><%= parseFloat(bench * 0.65).toFixed(1) %> x5+</td>
                </tr>
                <tr>
                    <td>Close Grip Bench</td>
                    <td><%= parseFloat(bench * 0.40).toFixed(1) %> x6</td>
                    <td><%= parseFloat(bench * 0.50).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x3</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x7</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x4</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x6</td>
                    <td><%= parseFloat(bench * 0.60).toFixed(1) %> x8</td>
                </tr>
                <tr>
                    <td>Assistance</td>
                    <td>Arms</td>
                </tr>
            </tbody>
            <thead>
                <th>Saturday</th>
            </thead>
            <tbody>
                <tr>
                    <td>Deadlift</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                    <td><%= parseFloat(deadlift * 0.725).toFixed(1) %> x3</td>
                </tr>
                <tr>
                    <td>Front Squat</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x3</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x3</td>
                </tr>
                <tr>
                    <td>Assistance</td>
                    <td>Upper back, Legs</td>
                </tr>
            </tbody>
        </table>
        <h>Remember to read the source linked above if you have any questions!</h>
    <%} else if (maxes.program == "BtM"){ %>
        <h>Selected program: <a href="https://jimwendler.com/blogs/jimwendler-com/101078918-building-the-monolith-5-3-1-for-size">Building the Monolith</a></h>
        <h1>Week 1 of 3 week cycle</h1>
        <table class="table table-bordered">
            <thead><th>Monday</th></thead>
            <tbody>
    
                <tr>
                    <td>Squat</td>
                    <td><%= parseFloat(squat * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.80).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.90).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Press</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.80).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.70).toFixed(1) %> xAMRAP</td>
                </tr>
                <tr>
                    <td>Chin ups x100</td>
                </tr>
                <tr>
                    <td>Face pulls/Band pull aparts x100</td>
                </tr>
                <tr>
                    <td>Dips x100-200</td>
                </tr>
            </tbody>
            <thead><th>Wednesday</th></thead>
            <tbody>
                <tr>
                    <td>Deadlift</td>
                    <td><%= parseFloat(deadlift * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.80).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.90).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Bench</td>
                    <td><%= parseFloat(bench * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.80).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.90).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Dumbell rows - 5x10-20</td>
                </tr>
                <tr>
                    <td>Curls x100</td>
                </tr>
            </tbody>
            <thead><th>Friday</th></thead>
            <tbody>
                <tr>
                    <td>Squat</td>
                    <td><%= parseFloat(squat * 0.70).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.80).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.90).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.45).toFixed(1) %> x20</td>
                </tr>
                <tr>
                    <td>Press</td>
                    <td>10 sets of <%= parseFloat(press * 0.70).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Chin ups - 5x5(weighted)</td>
                </tr>
                <tr>
                    <td>Face pulls/Band pull aparts x100</td>
                </tr>
                <tr>
                    <td>Shrugs x100</td>
                </tr>
            </tbody>
        </table>
        <h1>Week 2 of 3 week cycle</h1>
        <table class="table table-bordered">
            <caption>Week 2 of 3 week cycle</caption>
            <thead><th>Monday</th></thead>
            <tbody>
                <tr>
                    <td>Squat</td>
                    <td><%= parseFloat(squat * 0.65).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Press</td>
                    <td><%= parseFloat(press * 0.65).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.65).toFixed(1) %> xAMRAP</td>
                </tr>
                <tr>
                    <td>Chin ups x100</td>
                </tr>
                <tr>
                    <td>Face pulls/Band pull aparts x100</td>
                </tr>
                <tr>
                    <td>Dips x100-200</td>
                </tr>
            </tbody>
            <thead><th>Wednesday</th></thead>
            <tbody>
                <tr>
                    <td>Deadlift</td>
                    <td><%= parseFloat(deadlift * 0.65).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.85).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Bench</td>
                    <td><%= parseFloat(bench * 0.65).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Dumbell rows - 5x10-20</td>
                </tr>
                <tr>
                    <td>Curls x100</td>
                </tr>
            </tbody>
            <thead><th>Friday</th></thead>
            <tbody>
                <tr>
                    <td>Squat</td>
                    <td><%= parseFloat(squat * 0.65).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x20</td>
                </tr>
                <tr>
                    <td>Press</td>
                    <td>10 sets of <%= parseFloat(press * 0.50).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Chin ups - 5x5(weighted)</td>
                </tr>
                <tr>
                    <td>Face pulls/Band pull aparts x100</td>
                </tr>
                <tr>
                    <td>Shrugs x100</td>
                </tr>
            </tbody>
        </table>
        <h1>Week 3 of 3 week cycle</h1>
        <table class="table table-bordered">
            <caption>Week 3 of 3 week cycle</caption>
            <thead><th>Monday</th></thead>
            <tbody>
                <tr>
                    <td>Squat</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.95).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Press</td>
                    <td><%= parseFloat(press * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(press * 0.75).toFixed(1) %> xAMRAP</td>
                </tr>
                <tr>
                    <td>Chin ups x100</td>
                </tr>
                <tr>
                    <td>Face pulls/Band pull aparts x100</td>
                </tr>
                <tr>
                    <td>Dips x100-200</td>
                </tr>
            </tbody>
            <thead><th>Wednesday</th></thead>
            <tbody>
                <tr>
                    <td>Deadlift</td>
                    <td><%= parseFloat(deadlift * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(deadlift * 0.95).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Bench</td>
                    <td><%= parseFloat(bench * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(bench * 0.95).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Dumbell rows - 5x10-20</td>
                </tr>
                <tr>
                    <td>Curls x100</td>
                </tr>
            </tbody>
            <thead><th>Friday</th></thead>
            <tbody>
                <tr>
                    <td>Squat</td>
                    <td><%= parseFloat(squat * 0.75).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.85).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.95).toFixed(1) %> x5</td>
                    <td><%= parseFloat(squat * 0.55).toFixed(1) %> x20</td>
                </tr>
                <tr>
                    <td>Press</td>
                    <td>10 sets of <%= parseFloat(press * 0.75).toFixed(1) %> x5</td>
                </tr>
                <tr>
                    <td>Chin ups - 5x5(weighted)</td>
                </tr>
                <tr>
                    <td>Face pulls/Band pull aparts x100</td>
                </tr>
                <tr>
                    <td>Shrugs x100</td>
                </tr>
            </tbody>
        </table>
        <h>Remember to read the source linked above if you have any questions!</h>
    <% }  %>
</div>


<%- include ("partials/footer") %>