<%- include ("partials/header") %>
<%- include ("partials/navbar") %>

<div class="container">
    <div class="jumbotron">
        <h3 style="margin: 0px; padding-bottom: 0.7em;">Enter your maxes:</h3>
        <form action="/workoutgen" method="POST">
            <div class="form-group">
                <input class="form-control" type="number" name="bench" placeholder="Bench 1RM">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="squat" placeholder="Squat 1RM">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="press" placeholder="Press 1RM">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="deadlift" placeholder="Deadlift 1RM">
            </div>
            <div class="form-group">
                <h5 style="display: inline-block;">Select unit</h5>
                <select class="custom-select" name="unit">
                    <option value="kg">kg</option>
                    <option selected value="lbs">lbs</option>
                </select>
            </div>
            <div class="form-group">
                <h5 style="display: inline-block;">Select program</h5>
                <select class="form-group custom-select" name="program">
                    <option value="nSuns">nSuns</option>
                    <option selected value="BtM">Building the Monolith</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <h3 style="margin: 0px; padding-bottom: 0.7em;">Check these links for form and other tips</h3>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% for (var i = 0; i < form_links.length; i++){ %>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="card ">
                    <div class="card-body">
                        <h4><%= form_links[i].name %></h4>
                    
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="<%= form_links[i].link %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    </div>
</div>

<%- include ("partials/footer") %>